<section id="paid_projects">
	<div class="container">
		<div class="row">
			<h1>Projets payants</h1>
			<% @paid_projects.each_with_index do |project, index| %>
			<% if index%3 == 0 %> <div class="clearfix"></div> <% end %>
			<div class="col col-lg-4 col-xs-12">
				<div class="card">
				  <div class="card-block">
				    <h4 class="card-title"><%= project.title %></h4>
				    <% if !project.duration.blank? %>
				    <h6 class="card-subtitle text-muted"><i class="fa fa-clock-o fa-1x" aria-hidden="true"></i> <%= project.duration %> de vidéos</h6>
				    <% end %>
				  </div>
				  <div class="card-block">
				    <p class="card-text"><%= project.short_description %></p>
				    <div class="text-xs-center">
						<%= link_to "Commencer", project, class: "btn btn-outline-success text-xs-center" %>				    	
				    </div>
				  </div>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</section>