<section id="free_projects">
	<div class="container">
		<div class="row">
			<h1>Projets pré-commandés</h1>
			<% @preorder_projects.each_with_index do |project, index| %>
			<% if index%3 == 0 %> <div class="clearfix"></div> <% end %>
			<div class="col col-lg-4 col-xs-12">
				<div class="card">
				  <div class="card-block">
				    <h4 class="card-title"><%= project.title %></h4>
				    <h6 class="card-subtitle text-muted"><i class="fa fa-clock-o fa-1x" aria-hidden="true"></i> <%= project.duration %> de vidéos <i class="fa fa-calendar-check-o" aria-hidden="true"></i> <%= @project.release_date %></h6>
				  </div>
				  <div class="card-block">
				    <p class="card-text"><%= project.short_description %></p>
				  </div>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</section>