<section id="paid_projects">
	<div class="container">
		<div class="row">
			<% if @paid_projects.count > 0 %>
				<h1>Projets payants</h1>
				<%= render partial: 'common/paid_project_card' %>
			<% end %>
		</div>
	</div>
</section>

<section id="free_projects">
	<div class="container">
		<div class="row">
			<% if @free_projects.count > 0  %>
				<h1>Projets gratuits</h1>
				<%= render partial: 'common/free_project_card' %>
			<% end %>
		</div>
	</div>
</section>

<section id="preorder_projects">
	<div class="container">
		<div class="row">
			<% if @preorder_projects.count > 0 %>
				<h1>Projets pré-commandés</h1>
				<%= render partial: 'common/preorder_project_card' %>
			<% end %>
		</div>
	</div>
</section>

<% if current_user.subscriptions == 0 && current_user.payments == 0 %>
	<section>
		<div class="container">
			<div class="row">
				<div class="col col-sm-12">
					<h2>Vous n'êtes inscrit à aucun cours ... !</h2>
				</div>
			</div>
		</div>
	</section>
<% end %>
