<section id="free-projects">
	<div class="container">
		<div class="row">
			<div class="col col-sm-12">
				<h1>Les formations gratuites</h1>
				<div class="feature-card">
					<div class="col col-lg-6 col-xs-12">
						<img class="feature-card-image img-fluid" src="http://placehold.it/600x350" alt="" />
						<span class="tag tag-default">HTML</span> <span class="tag tag-default">CSS</span> <span class="tag tag-default">Bootstrap</span> <span class="tag tag-default">MailChimp</span> <span class="tag tag-default">Google Anlytics</span>
					</div>
					<div class="col col-lg-6 col-xs-12">
						<div class="feature-card-block">
							<h2 class="feature-card-title">Créez une landing page pour votre start-up</h2>
							<p class="feature-card-details"><i class="fa fa-clock-o fa-1x" aria-hidden="true"></i> 1h15 de vidéos</p>
							<p class="feature-card-rating"><i class="fa fa-star fa-1w"></i><i class="fa fa-star fa-1w"></i><i class="fa fa-star fa-1w"></i><i class="fa fa-star fa-1w"></i><i class="fa fa-star-half-full fa-1w"></i> 4,5/5 - <a href="#" class="feature-card-link">Voir tous les avis</a></p>
							<p class="feature-card-description text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
							<a href="course-details.html" class="btn btn-outline-success">Plus de détails</a>
						</div>
					</div>
				</div>
			</div>					
		</div>
	</div>
</section>