<section id="upcoming-projects">
	<div class="container">
		<div class="row">
			<h1>Les formations à venir</h1>
			<div class="col col-lg-12">
				<div class="card-deck-wrapper">
				  <div class="card-deck">
				    <div class="card">
				      <img class="card-img-top" src="http://placehold.it/442x200" alt="Card image cap">
				      <div class="card-block">
				        <h4 class="card-title">Apprenez Ruby on Rails en clonant Airbnb</h4>
				        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
					  </div>
				    </div>
				    <div class="card">
				      <img class="card-img-top" src="http://placehold.it/442x200" alt="Card image cap">
				      <div class="card-block">
				        <h4 class="card-title">Apprenez Swift en clonant Instagram</h4>
				        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>						        
				      </div>
				    </div>
				    <div class="card">
				      <img class="card-img-top" src="http://placehold.it/442x200" alt="Card image cap">
				      <div class="card-block">
				        <h4 class="card-title">Apprenez PHP en clonant Kickstarter</h4>
				        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
				      </div>
				    </div>
				  </div>
				</div>
			</div>
		</div>			
	</div>
</section>