<header>
	<div class="container">
		<div class="row">
			<div class="col col-sm-12">
				<div class="text-xs-center">
					<h1>Apprenez à coder en clonant des start-ups de la vie réelle</h1>
					<h2>Utilisez des technologies comme Angular.js, Ionic, Ruby on Rails, Swift ou encore Python en clonant Airbnb, Instagram, Tinder ...</h2>
					<%= link_to "Inscription", new_user_registration_path, class: "btn btn-lg btn-success" %>
					<h3>Rejoignez 400 autres entrepreneurs et étudiants</h3>							
				</div>						
			</div>					
		</div>
	</div>
</header>

<%= render 'featured_project' %>

<%= render 'free_projects' %>

<%= render 'upcoming_projects' %>
