<div class="container">
	<div class="row">
		<div class="col col-lg-10 col-lg-offset-1">
		<div class="col-md-3 col-sm-12">
				<ul class="nav nav-pills nav-stacked" role="tablist">
				  <li class="nav-item">
				    <a class="nav-link active" href="#information" data-toggle="tab" role="tab" aria-controls="information">Informations</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" href="#subscriptions" data-toggle="tab" role="tab" aria-controls="subscriptions">Inscriptions</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" href="#payments" data-toggle="tab" role="tab" aria-controls="payments">Paiements</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" href="#ratings" data-toggle="tab" role="tab" aria-controls="ratings">Avis</a>
				  </li>
				</ul>
			</div>

			<div class="col-md-9 col-sm-12">
			    <!-- Tab panes -->
				<div class="tab-content">
				  <div class="tab-pane active" id="information" role="tabpanel"><%= render partial: "informations" %></div>
				  <div class="tab-pane" id="subscriptions" role="tabpanel"><%= render partial: "subscriptions" %></div>
				  <div class="tab-pane" id="payments" role="tabpanel">Paiements</div>
				  <div class="tab-pane" id="ratings" role="tabpanel">Avis</div>
				</div>
			</div> 			
		</div>
	</div>
</div>