<div class="container">
	<div class="row">
		<div class="col-lg-12 bhoechie-tab-container">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bhoechie-tab-menu">
              <div class="list-group">
                <a href="#" class="list-group-item vertical-tab active text-xs-center">
                  <i class="fa fa-info-circle fa-3x" aria-hidden="true"></i><br/>
                  Informations
                </a>
                <a href="#" class="list-group-item vertical-tab text-xs-center">
                  <i class="fa fa-credit-card fa-3x" aria-hidden="true"></i><br/>Paiements
                </a>
                <a href="#" class="list-group-item vertical-tab text-xs-center">
                  <i class="fa fa-star fa-3x" aria-hidden="true"></i><br/>Avis
                </a>
              </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bhoechie-tab">
                <!-- flight section -->
                <div class="bhoechie-tab-content active">
                	<%= render partial: "informations" %>
                </div>
                <!-- train section -->
                <div class="bhoechie-tab-content">
                    <center>
                      <%= render partial: "payments" %>
                    </center>
                </div>
    
                <!-- hotel search -->
                <div class="bhoechie-tab-content">
                    <center>
					  <%= render partial: "ratings" %>
                    </center>
                </div>
            </div>
		</div>		
	</div>
</div>

<%= javascript_include_tag "my_account.js" %>