<p>Bienvenue <%= @user.first_name %> !</p>

<p>Merci de confirmer ton adresse email en cliquant sur le lien ci-dessous :</p>

<p><%= link_to 'Confirmer mon email', confirmation_url(@user, confirmation_token: @confirmation_token) %></p>
