<p>Bonjour <%= @user.first_name %>!</p>

<p>Vous avez demandé à changer votre mot de passe. Vous pouvez le réinitialiser en cliquant sur le lien ci-dessous.</p>

<p><%= link_to 'Réinitialiser mon mot de passe', edit_password_url(@user, reset_password_token: @reset_password_token) %></p>

<p>Si vous n'êtes pas à l'origine de cette demande, ignorez simplement cet email</p>

<p>Votre mot de passe ne sera pas modifier tant que vous n'aurez pas cliqué sur le lien ci-dessus.</p>
