<p><%= @referee.full_name %> a utilisé votre code de parrainage, vous gagnez donc 5€ dans votre cagnotte !</p>

<p>Le montant de votre cagnotte s'élève maintenant à <%= referent.referral_wallet %> ! Profitez-en pour vous offrir un nouveau cours et exercer vos talents de développeurs :-)</p>